* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.white {
  color: white;
}

.page {
  /* border: 1px solid #ff0000; mark border page red */
  text-align: center;
  background-color: #ff0000;
}

li {
  background-color: #ff0000;
}

.top {
  /* border: 1px solid #00ff00; mark border top yellow */
  align-items: center;
  align-content: center;
  background-color: #0000ff;
}

.mid div {
  padding-top: 10px;
  padding-bottom: 5px;
}

.jokeimages img {
  width: 300px;
  max-width: 300px;
}

.topimages {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;

  .img {
    margin-top: 30px;
  }
}

.thename {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #00ff00;
}

.oversection{
  background-color: #ff0000;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  background-color: #ff0000;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.mymail {
  /*border: 1px solid #ffff00; mark border mail redyellow */
  text-align: center;
  background-color: #ff0000;
}

@media screen only and (width <501px) {
  .img {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen only and (width > 500px) {
    .img {
      margin-left: 200px;
      margin-right: 200px;
    }
  }
